.header__link {
    color: #2f80ed;
    text-decoration: none;
  }

  .header__link:hover {
    opacity: 0.4;
    transition-property: opacity;
    transition-duration: 1.5s;
    transition-delay: .5s;
  }