.kaufman__triangle {
    background-image:url(../../../images/kaufman-triangle.svg);
    position: absolute;
    background-size: contain;
    right: -210px;
    top: 0;
    background-repeat: no-repeat;
    width: 877px;
    height: 877px;
    z-index: -1;
  }